In [1]:
import requests
import zipfile
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_turismo= pd.read_csv("C:\\Users\\Flore\\Desktop\\EDA_SURF ESKOLA\\EDA\\2. src_data\\1. archivo_limpio.csv", sep=(","))


df_tendencia= pd.read_csv("C:\\Users\\Flore\\Desktop\\EDA_SURF ESKOLA\\EDA\\2. src_data\\1.2. atracciones_recursos_turisticosII.csv", sep=(";"))

In [13]:
df_turismo

,AÑO,MES,PROVINCIA_DESTINO,CONTINENTE_ORIGEN,PAIS_ORIGEN,TURISTAS,PERNOCTACIONES,ESTANCIA_MEDIA
0,2023,1,A Coru�a,Am�rica,Argentina,295.0,"3098,0","10,5"
1,2023,1,A Coru�a,Am�rica,Brasil,498.0,"4084,0","8,2"
2,2023,1,A Coru�a,Am�rica,Canad�,1385.0,"15512,0","11,2"
3,2023,1,A Coru�a,Am�rica,Chile,58.0,"505,0","8,7"
4,2023,1,A Coru�a,Am�rica,Colombia,370.0,"4662,0","12,6"
...,...,...,...,...,...,...,...,...
68083,2024,12,�vila,Europa,Reino Unido,192.0,"1536,0","8,0"
68084,2024,12,�vila,Europa,Ruman�a,135.0,"2160,0","16,0"
68085,2024,12,�vila,Europa,Suecia,296.0,"5180,0","17,5"
68086,2024,12,�vila,Europa,Suiza,98.0,"490,0","5,0"
68087,2024,12,�vila,�frica,Marruecos,145.0,"1189,0","8,2"

In [ ]:
df_tendencia = df_tendencia.copy()       

# Filtrar por Bizkaia y categoría "Naturaleza"
df_bizkaia_valoraciones = df_tendencia[
    (df_tendencia['PROVINCIA'].str.lower() == 'bizkaia') &
    (df_tendencia['CATEGORIA'].str.lower() == 'naturaleza')
]

In [9]:
df_bizkaia_valoraciones

,CATEGORIA,CCAA,PROVINCIA,VALORACION_POR_CATEGORIA,TOTAL_OPINIONES_CATEGORIA,VALORACION_GENERAL,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Err:501
47,Naturaleza,Pais Vasco,Bizkaia,4.45,3085,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
turistas_2024 = df_turismo[df_turismo["AÑO"]>=2024]
turistas_2024= pd.DataFrame(turistas_2024)

#Agrupo los turistas por provincias
agrupado= turistas_2024.groupby(["MES", "PROVINCIA_DESTINO", "PAIS_ORIGEN"])["TURISTAS"].sum().reset_index()

#Codigo para ir sacando las graficas por las provincias que me interesan para el estudio

provincia_Bizkaia= agrupado[agrupado["PROVINCIA_DESTINO"]== "Bizkaia"]
provincia_Bizkaia.sort_values(["TURISTAS"], ascending=False)

       MES PROVINCIA_DESTINO PAIS_ORIGEN  TURISTAS
20561    8           Bizkaia     Francia   22048.0
11476    5           Bizkaia     Francia   17018.0
8526     4           Bizkaia     Francia   16568.0
17502    7           Bizkaia     Francia   15714.0
26802   10           Bizkaia     Francia   14462.0
...    ...               ...         ...       ...
3103     2           Bizkaia    Pakist�n      30.0
26846   10           Bizkaia   Sud�frica      30.0
29972   11           Bizkaia      Egipto      30.0
14465    6           Bizkaia     Andorra      30.0
14530    6           Bizkaia      Serbia      30.0

[838 rows x 4 columns]