In [1]:
import pandas as pd
import unicodedata
import numpy as np


path = "C:\\Users\\Flore\Desktop\\EDA_SURF ESKOLA\\conectividad_aerea_busquedas_momento_busqueda.csv"
busqueda = pd.read_csv(path, sep=";")
busqueda

,A�O,MES,PAIS_ORIGEN,CIUDAD_DESTINO,TIPO_ORIGEN,BUSQUEDAS,ANTELACION,ESTANCIA_MEDIA,VARIACION_INTERANUAL_BUSQUEDAS
0,2024,1,Afganist�n,Alacant/Alicante,Internacional,3,"31,0","6,0","-25,0"
1,2024,1,Afganist�n,Barcelona,Internacional,23,"65,92","6,76","-66,18"
2,2024,1,Afganist�n,Bilbao,Internacional,3,"38,25","8,25","200,0"
3,2024,1,Afganist�n,Fuerteventura,Internacional,1,"155,0","4,0","0,0"
4,2024,1,Afganist�n,Ibiza,Internacional,3,"66,5","14,75","0,0"
...,...,...,...,...,...,...,...,...,...
62997,2024,12,Zimbabwe,Santiago de Compostela,Internacional,3,"12,0","14,0","200,0"
62998,2024,12,Zimbabwe,Sevilla,Internacional,29,"46,68","5,87","81,25"
62999,2024,12,Zimbabwe,Tenerife,Internacional,9,"43,83","8,42","28,57"
63000,2024,12,Zimbabwe,Valverde,Internacional,2,"45,0","7,0","0,0"
63001,2024,12,Zimbabwe,Val�ncia,Internacional,11,"38,33","17,06","-38,89"

In [2]:
busqueda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63002 entries, 0 to 63001
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   A�O                             63002 non-null  int64
 1   MES                             63002 non-null  int64
 2   PAIS_ORIGEN                     63002 non-null  object
 3   CIUDAD_DESTINO                  63002 non-null  object
 4   TIPO_ORIGEN                     63002 non-null  object
 5   BUSQUEDAS                       63002 non-null  int64
 6   ANTELACION                      63002 non-null  object
 7   ESTANCIA_MEDIA                  63002 non-null  object
 8   VARIACION_INTERANUAL_BUSQUEDAS  63002 non-null  object
dtypes: int64(3), object(6)
memory usage: 4.3+ MB

In [3]:
busqueda.describe()

           A�O           MES     BUSQUEDAS
count  63002.0  63002.000000  6.300200e+04
mean    2024.0      6.400003  5.207915e+04
std        0.0      3.436967  1.703656e+06
min     2024.0      1.000000  1.000000e+00
25%     2024.0      3.000000  7.000000e+00
50%     2024.0      6.000000  4.900000e+01
75%     2024.0      9.000000  6.290000e+02
max     2024.0     12.000000  1.152123e+08