In [1]:
import requests
import zipfile
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
path = "C:\\Users\\Flore\\Desktop\\EDA_SURF ESKOLA\\EDA\\_ESCUELA_CANTABRA\\2024_DATOS_ESCUELA_CANTABRA\\Distribución por País_escuelacantabradesurf.com_es__ene – dic 2024_Todos los dispositivos.csv"
anual = pd.read_csv(path, sep=",")
anual

,País,Cuota de tráfico,Visitas,Participación en escritorio,Participación en móviles
0,España,"87,33 %",207910,"93,75 %","6,25 %"
1,Italia,"10,94 %",26057,"0,08 %","99,92 %"
2,Suiza,"0,44 %",1049,100 %,0 %
3,Alemania,"0,4 %",941,100 %,0 %
4,Bélgica,0 %,0,0 %,0 %

In [21]:
anual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   País                         5 non-null      object
 1   Cuota de tráfico             5 non-null      object
 2   Visitas                      5 non-null      int64
 3   Participación en escritorio  5 non-null      object
 4   Participación en móviles     5 non-null      object
dtypes: int64(1), object(4)
memory usage: 332.0+ bytes

In [6]:
path = "C:\\Users\\Flore\\Desktop\\EDA_SURF ESKOLA\EDA\\_ESCUELA_CANTABRA\\OTROS\\Distribución por País_escuelacantabradesurf.com_es__ene 2024_Todos los dispositivos.csv"
enero = pd.read_csv(path, sep=",")
enero

,País,Cuota de tráfico,Visitas,Participación en escritorio,Participación en móviles
0,España,100 %,155,100 %,0 %

In [7]:
path = "C:\\Users\\Flore\\Desktop\\EDA_SURF ESKOLA\EDA\\_ESCUELA_CANTABRA\\OTROS\\Distribución por País_escuelacantabradesurf.com_es__feb 2024_Todos los dispositivos.csv"
febrero = pd.read_csv(path, sep=",")
febrero

,País,Cuota de tráfico,Visitas,Participación en escritorio,Participación en móviles
0,España,"97,51 %",7866,"13,35 %","86,65 %"
1,Estados Unidos,"2,48 %",200,100 %,0 %
2,Irlanda,"0,01 %",1,100 %,0 %
3,Francia,0 %,0,0 %,0 %

In [8]:
path = "C:\\Users\\Flore\\Desktop\\EDA_SURF ESKOLA\EDA\\_ESCUELA_CANTABRA\\OTROS\\Distribución por País_escuelacantabradesurf.com_es__mar 2024_Todos los dispositivos.csv"
marzo = pd.read_csv(path, sep=",")
marzo

,País,Cuota de tráfico,Visitas,Participación en escritorio,Participación en móviles
0,España,"81,07 %",8148,100 %,0 %
1,Alemania,"9,36 %",941,100 %,0 %
2,Suiza,"8,72 %",876,100 %,0 %
3,Argentina,"0,85 %",85,100 %,0 %
4,Italia,0 %,0,0 %,0 %

In [9]:
path = "C:\\Users\\Flore\\Desktop\\EDA_SURF ESKOLA\EDA\\_ESCUELA_CANTABRA\\OTROS\\Distribución por País_escuelacantabradesurf.com_es__abr 2024_Todos los dispositivos.csv"
abril = pd.read_csv(path, sep=",")
abril

,País,Cuota de tráfico,Visitas,Participación en escritorio,Participación en móviles
0,España,100 %,33903,100 %,0 %
1,Bélgica,0 %,0,0 %,0 %

In [10]:
path = "C:\\Users\\Flore\\Desktop\\EDA_SURF ESKOLA\EDA\\_ESCUELA_CANTABRA\\OTROS\\Distribución por País_escuelacantabradesurf.com_es__may 2024_Todos los dispositivos.csv"
mayo = pd.read_csv(path, sep=",")
mayo

,País,Cuota de tráfico,Visitas,Participación en escritorio,Participación en móviles
0,España,"90,45 %",7482,100 %,0 %
1,Colombia,"3,06 %",253,100 %,0 %
2,Suiza,"2,09 %",173,100 %,0 %
3,Estados Unidos,"2,02 %",167,100 %,0 %
4,Portugal,0 %,0,0 %,0 %

In [11]:
path = "C:\\Users\\Flore\\Desktop\\EDA_SURF ESKOLA\EDA\\_ESCUELA_CANTABRA\\OTROS\\Distribución por País_escuelacantabradesurf.com_es__jun 2024_Todos los dispositivos.csv"
junio = pd.read_csv(path, sep=",")
junio

,País,Cuota de tráfico,Visitas,Participación en escritorio,Participación en móviles
0,España,"97,53 %",9192,100 %,0 %
1,Francia,"1,52 %",143,100 %,0 %
2,Venezuela,"0,56 %",53,100 %,0 %
3,Rumanía,"0,38 %",36,100 %,0 %
4,Suiza,0 %,0,0 %,0 %

In [12]:
path = "C:\\Users\\Flore\\Desktop\\EDA_SURF ESKOLA\EDA\\_ESCUELA_CANTABRA\\OTROS\\Distribución por País_escuelacantabradesurf.com_es__jul 2024_Todos los dispositivos.csv"
julio = pd.read_csv(path, sep=",")
julio

,País,Cuota de tráfico,Visitas,Participación en escritorio,Participación en móviles
0,Italia,"51,36 %",19026,0 %,100 %
1,España,"48,47 %",17957,100 %,0 %
2,Reino Unido,"0,17 %",62,100 %,0 %

In [13]:
path = "C:\\Users\\Flore\\Desktop\\EDA_SURF ESKOLA\EDA\\_ESCUELA_CANTABRA\\OTROS\\Distribución por País_escuelacantabradesurf.com_es__ago 2024_Todos los dispositivos.csv"
agosto = pd.read_csv(path, sep=",")
agosto

,País,Cuota de tráfico,Visitas,Participación en escritorio,Participación en móviles
0,España,"81,96 %",32812,"87,36 %","12,64 %"
1,Italia,"17,2 %",6885,0 %,100 %
2,Canadá,0 %,0,0 %,0 %
3,Alemania,0 %,0,0 %,0 %
4,Austria,0 %,0,0 %,0 %

In [15]:
path = "C:\\Users\\Flore\\Desktop\\EDA_SURF ESKOLA\EDA\\_ESCUELA_CANTABRA\\OTROS\\Distribución por País_escuelacantabradesurf.com_es__sept 2024_Todos los dispositivos.csv"
septiembre = pd.read_csv(path, sep=",")
septiembre

,País,Cuota de tráfico,Visitas,Participación en escritorio,Participación en móviles
0,España,"99,26 %",16822,100 %,0 %
1,Italia,"0,74 %",125,0 %,100 %
2,Reino Unido,0 %,0,0 %,0 %

In [16]:
path = "C:\\Users\\Flore\\Desktop\\EDA_SURF ESKOLA\EDA\\_ESCUELA_CANTABRA\\OTROS\\Distribución por País_escuelacantabradesurf.com_es__oct 2024_Todos los dispositivos.csv"
octubre = pd.read_csv(path, sep=",")
octubre

,País,Cuota de tráfico,Visitas,Participación en escritorio,Participación en móviles
0,España,"98,47 %",32412,"93,71 %","6,29 %"
1,México,"1,11 %",367,100 %,0 %
2,Estados Unidos,"0,3 %",99,100 %,0 %
3,Venezuela,"0,06 %",20,100 %,0 %
4,Italia,"0,05 %",18,100 %,0 %

In [17]:
path = "C:\\Users\\Flore\\Desktop\\EDA_SURF ESKOLA\EDA\\_ESCUELA_CANTABRA\\OTROS\\Distribución por País_escuelacantabradesurf.com_es__nov 2024_Todos los dispositivos.csv"
noviembre = pd.read_csv(path, sep=",")
noviembre

,País,Cuota de tráfico,Visitas,Participación en escritorio,Participación en móviles
0,España,"99,98 %",18325,100 %,0 %
1,Italia,"0,02 %",3,100 %,0 %

In [18]:
path = "C:\\Users\\Flore\\Desktop\\EDA_SURF ESKOLA\EDA\\_ESCUELA_CANTABRA\\OTROS\\Distribución por País_escuelacantabradesurf.com_es__dic 2024_Todos los dispositivos.csv"
diciembre = pd.read_csv(path, sep=",")
diciembre

,País,Cuota de tráfico,Visitas,Participación en escritorio,Participación en móviles
0,España,"99,54 %",22836,100 %,0 %
1,Países Bajos,"0,46 %",106,100 %,0 %