In [2]:
import requests
import zipfile
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
path = "C:\\Users\\Flore\\Desktop\\EDA_SURF ESKOLA\\atracciones_recursos_turisticos.csv"
recursos = pd.read_csv(path, sep=";")
recursos

,CATEGORIA,CCAA,PROVINCIA,VALORACION_POR_CATEGORIA,TOTAL_OPINIONES_CATEGORIA,VALORACION_GENERAL,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Err:501
0,Activo,Naturaleza,Andalucia,Almeria,"4,43",16866,"4,26",NaN,NaN,NaN,NaN,NaN,NaN
1,Activo,Naturaleza,Andalucia,Cadiz,"4,41",8593,"4,31",NaN,NaN,NaN,NaN,NaN,NaN
2,Activo,Naturaleza,Andalucia,Cordoba,"4,49",2543,"4,31",NaN,NaN,NaN,NaN,NaN,NaN
3,Activo,Naturaleza,Andalucia,Granada,"4,56",13820,"4,41",NaN,NaN,NaN,NaN,NaN,NaN
4,Activo,Naturaleza,Andalucia,Huelva,"4,26",5612,"4,15",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,Vida,Nocturna,Pais,Vasco,Araba/Alava,"3,75",434,"4,43",NaN,NaN,NaN,NaN,NaN
487,Vida,Nocturna,Pais,Vasco,Bizkaia,"4,26",2335,"4,36",NaN,NaN,NaN,NaN,NaN
488,Vida,Nocturna,Pais,Vasco,Gipuzkoa,"4,04",2207,"4,4",NaN,NaN,NaN,NaN,NaN
489,Vida,Nocturna,Principado,de,Asturias,Asturias,"4,15",4064,"4,38",NaN,NaN,NaN,NaN
490,Vida,Nocturna,Region,de,Murcia,Murcia,"3,59",666,"4,26",NaN,NaN,NaN,NaN

In [8]:
recursos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491 entries, 0 to 490
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CATEGORIA                  491 non-null    object
 1   CCAA                       491 non-null    object
 2   PROVINCIA                  491 non-null    object
 3   VALORACION_POR_CATEGORIA   491 non-null    object
 4   TOTAL_OPINIONES_CATEGORIA  491 non-null    object
 5   VALORACION_GENERAL         491 non-null    object
 6   Unnamed: 6                 408 non-null    object
 7   Unnamed: 7                 268 non-null    object
 8   Unnamed: 8                 157 non-null    object
 9   Unnamed: 9                 57 non-null     object
 10  Unnamed: 10                11 non-null     object
 11  Unnamed: 11                1 non-null      object
 12  Err:501                    0 non-null      float64
dtypes: float64(1), object(12)
memory usage: 50.0+ KB