In [2]:
import requests
import zipfile
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
path = "C:\\Users\\Flore\\Desktop\\EDA_SURF ESKOLA\\EDA\\_PEÑATXURI\\2024_DATOS_PEÑATXURI\\Distribución por País_escueladesurfsopelana.com_ene – dic 2024_Todos los dispositivos.csv"
anual = pd.read_csv(path, sep=",")
anual

,País,Cuota de tráfico,Visitas,Participación en escritorio,Participación en móviles
0,España,"97,56 %",21093,"2,37 %","97,63 %"
1,Reino Unido,"0,84 %",182,100 %,0 %
2,Argentina,"0,66 %",142,100 %,0 %
3,Estados Unidos,"0,36 %",77,100 %,0 %
4,Alemania,"0,34 %",74,100 %,0 %